* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px 50px;
}

nav {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    height: 100vh;
    background-color: beige;
    border-radius: 30px;
    padding: 20px 60px;
    justify-content: start;
    align-items: start;

    top: 0;


}

nav button {
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 400;
    background-color: aqua;
    padding: 15px 40px;
    border-radius: 30px;
    cursor: pointer;
}

.allInput {
    display: none;
    height: 50%;
    flex-direction: column;
    gap: 20px;
    gap: 10px;
    width: 40%;
    background-color: cornflowerblue;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 10px;
    padding: 30px 30px;
}

.allInput button {
    padding: 10px 60px;
    font-size: 20px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 30px;
}

.allInput input {
    display: inline;
    width: 300px;
    height: 50px;
    border-radius: 10px;
}

.allInput input:placeholder-shown {
    font-size: 15px;
    padding: 0px 10px;
    text-transform: capitalize;
}

.allProduct {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
}

.product {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid rgba(128, 128, 128, 0.458);
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 20px;

}

.product img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 20px;
}

.product-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px;
}

.product .product-text h2 {
    font-size: 18px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;


}

.product .product-text h4 {
    font-size: 15px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.692);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.btnDiv {
    display: flex;
    gap: 10px;
}

.product .btnDiv button {
    width: fit-content;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.optionMenu {
    display: none;
    width: 200px;
    height: fit-content;
    border: 1px solid rgba(128, 128, 128, 0.326);
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    position: absolute;
    background-color: white;
}

.optionMenu h5 {
    font-size: 18px;
    font-weight: 200;
    border-bottom: 1px solid rgba(128, 128, 128, 0.321);
    padding: 10px 0px;
    color: rgb(85, 85, 85);
    cursor: pointer;
}